.container {
  font-family: 'Open Sans';
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cardholder{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.card {
  width: 180px;
  background-color: #3cb878;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  color: white;
  box-shadow: 0px 0px 4px 3px gray;
}

.newsletter-form {
  color: grey;
  border: solid thin #cfcfcf;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  margin-top: 40px;
}

.newsletter-form h3 {
  margin-top: 0;
}

#email {
  display: block;
  width: 100%;
  border: solid thin #cfcfcf;
  height: 30px;
  padding-left: 3px;
  border-radius: 2px;
  box-sizing: border-box;
  
}

#submit {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: #3cb878;
  border: 0;
  color: white;
  height: 30px;
  margin-top: 5px;
  border-radius: 2px;
  padding: 0px 0px;
  
}

#terms {
  position: relative;
  bottom: 2px;
}

.closing {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

#question-circle {
  height: 50px;
  width: 50px;
  background-color: #3cb878;
  border-radius: 50%;
  color: white;
  font-size: 35px;
  text-align: center;
  
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor:pointer;
}