body {
    background-color: rgba(179, 164, 36, 0.705);
}

div {
    border: solid thin lightgray;
    background-color: whitesmoke;
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 0.3em;
    padding: 30px;
}

#form {
    display: flex;
    flex-direction: row;
    border: solid thin grey;
    padding: 0px;
    border-radius: 5px;
    width: 80%;
    overflow: hidden;
    text-align: center;
}

input {
    width: 90%;
    border: none;
    border-radius: 3px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    font-size: 17px;
}

input:focus {
    outline: none;
}

#add {
    height: 35px;
    background-color: mediumorchid;
    color: white;
    flex-grow: auto;
    margin: 0rem;
    font-size: 20px;
}

#add:focus {
    outline: none;
}

li {
    font-size: 20px;
    list-style-type: none;
    text-align: left;
}

h1 {
    margin-bottom: 70px;
}

ul {
    
    width: 80%;
    text-align: center;
}